<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Klevu_TestFixtures">
        <sequence>
            <module name="Magento_Framework"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogInventory"/>
            <module name="Magento_ConfigurableProduct"/>
            <module name="Magento_Eav"/>
            <module name="Magento_Indexer"/>
            <module name="Magento_SalesSequence"/>
            <module name="Magento_Store"/>
            <module name="Magento_TestFramework"/>
            <module name="Magento_User"/>
            <module name="TddWizard_Fixtures"/>
        </sequence>
    </module>
</config>
